* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Avenir';
  scroll-behavior: smooth;
}

body .container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}

body .container > div {
  margin: 30px;
}

body .container > div.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container > div.text *:not(:first-child) {
  margin: 15px 0;
  line-height: 30px;
}

body .container img {
  width: 300px;
}

header div#header__block {
  background-color: #fff;
  height: 80px;
  width: 100%;
}

@media only screen and (max-width: 980px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: 770px) {
  html {
    font-size: 15px;
  }
  html div.container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
