* {
    margin: 0;
    padding: 0;
}
.parent {
    display: grid;
    
    gap: 10px;
    grid-template-columns:  repeat(3, 500px);
    grid-template-rows: repeat(3, 500px) ;
    background-color: indianred;
    
}

.child {
    background-color: grey;
    width: 500px;
    height: 500px;
}