@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Avenir';
}

body > header,
body > main,
body > footer {
  max-width: 1400px;
  margin: 0 auto;
}

body header {
  max-width: 1240px;
  margin: 0 auto;
}

body header nav#nav {
  height: 100px;
  text-transform: uppercase;
}

body header nav#nav ul.menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 13px;
  font-weight: 400;
  padding: 40px 0;
}

body header nav#nav ul.menu > li:first-child {
  margin-right: auto;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 21px;
  font-weight: 400;
}

body header nav#nav ul.menu > li:not(:first-child) {
  padding-left: 20px;
}

body header nav#nav ul.menu > li:hover:not(:first-child) {
  color: #838383;
}

body header > section.slider {
  height: 900px;
  background: url("IMG_7241.png");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 60%;
}

body main {
  max-width: 100%;
  height: 6000px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(45%, white), color-stop(45%, black), color-stop(90%, black), color-stop(90%, white));
  background: linear-gradient(0deg, white 45%, black 45%, black 90%, white 90%);
}

body main section.section__first {
  max-width: 1240px;
  margin: 60px auto;
  height: 850px;
  background: url("IMG_17001.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 79px 715px 500px 125px;
}

body main section.section__first:hover {
  -webkit-transform: scale(1.009);
          transform: scale(1.009);
  -webkit-box-shadow: 0 0px 30px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0px 30px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

body main section.section__first article.section__article {
  color: #fff;
}

body main section.section__first article.section__article h4 {
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
  width: 430px;
  height: 50px;
  margin-top: 20px;
}

body main section.section__first article.section__article > div {
  font-size: 16px;
}

body main section.section__first article.section__article > div:not(:nth-child(2)) {
  margin-top: 23px;
}

body main section.section__first article.section__article > div.section__article__pararaph {
  font-size: 14px;
  line-height: 19px;
}

body main section.section__text {
  max-width: 1400px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #fff;
}

body main section.section__text div {
  margin: 80px 60px;
}

body main section.section__text div *:not(:nth-child(1)) {
  padding-top: 35px;
}

body main section.section__second {
  height: 750px;
  max-width: 1240px;
  background-color: #28454B;
  margin: 80px auto;
  padding: 40px 93px 60px 200px;
  color: #fff;
  text-align: right;
}

body main section.section__second .section__second__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main section.section__second .section__second__div div.section__second__div_first {
  margin-right: 50px;
}

body main section.section__second .section__second__div h4 {
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
  margin-top: 300px;
}

body main section.section__second .section__second__div div div {
  font-size: 16px;
}

body main section.section__second .section__second__div div div:not(:nth-child(2)) {
  margin-top: 23px;
}

body main section.section__second .section__second__div div div.section__article__pararaph {
  font-size: 14px;
  line-height: 19px;
}

body main section.section__third {
  max-width: 1400px;
  height: 820px;
  margin: 0 auto;
}

body main section.section__third div.section__third__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body main section.section__third div.section__third__container__second {
  color: #fff;
  margin-left: 50px;
  width: 400px;
}

body main section.section__third div.section__third__container__second div {
  font-size: 16px;
}

body main section.section__third div.section__third__container__second div:not(:nth-child(2)) {
  margin-top: 23px;
}

body main section.section__third div.section__third__container__second h4 {
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
  margin-top: 350px;
}

body main section.section__third div.section__third__container__second .section__article__pararaph {
  font-size: 14px;
}

body main section.section__fourth {
  max-width: 1240px;
  margin: 100px auto;
  height: 780px;
  background: url("IMG_0208.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 79px 715px 500px 125px;
}

body main section.section__fourth article.section__fourth__container {
  color: #fff;
  width: 500px;
}

body main section.section__fourth article.section__fourth__container div {
  font-size: 16px;
}

body main section.section__fourth article.section__fourth__container div:not(:nth-child(2)) {
  margin-top: 23px;
}

body main section.section__fourth article.section__fourth__container h4 {
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
}

body main section.section__fourth article.section__fourth__container .section__article__pararaph {
  font-size: 14px;
}
