@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Avenir';
}

body > header,
body > main,
body > footer {
  max-width: 100%;
  margin: 0 auto;
}

body header {
  max-width: 1240px;
  margin: 0 auto;
}

body header nav#nav {
  margin: 0;
  padding: 30px 0;
  height: 80px;
  text-transform: uppercase;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header nav#nav li {
  margin: 0;
}

body header nav#nav > div:first-child {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 21px;
  font-weight: 400;
}

body header nav#nav #menu {
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 13px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  list-style: none;
}

body header nav#nav #menu > li {
  margin: 0;
  padding: 0 10px 10px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  z-index: 5;
  width: 90px;
}

body header nav#nav #menu > li > ul#drop {
  overflow: hidden;
  list-style: none;
  position: absolute;
  padding: 0;
  width: 100%;
  left: 0;
  top: 80px;
}

body header nav#nav #menu > li > ul#drop div {
  padding: 0;
  -webkit-transform: translate(0, -100%);
  transform: translate(0, -100%);
  -webkit-transition: all 0.5s 0.1s;
  transition: all 0.5s 0.1s;
  position: relative;
}

body header nav#nav #menu > li > ul#drop li {
  display: block;
  padding: 0;
  background: #747474 !important;
}

body header nav#nav #menu #marker {
  padding: 0;
  height: 5px;
  background: #b6b6b6;
  position: absolute;
  bottom: 0;
  z-index: 2;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  width: 90px;
}

body header #menu li:nth-child(1):hover ul#drop div {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

body header #menu li:nth-child(1):hover ~ #marker {
  -webkit-transform: translate(0px, 0);
  transform: translate(0px, 0);
}

body header #menu li:nth-child(2):hover ul#drop div {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

body header #menu li:nth-child(2):hover ~ #marker {
  -webkit-transform: translate(90px, 0);
  transform: translate(90px, 0);
}

body header #menu li:nth-child(3):hover ul#drop div {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

body header #menu li:nth-child(3):hover ~ #marker {
  -webkit-transform: translate(180px, 0);
  transform: translate(180px, 0);
}

body header #menu li:nth-child(4):hover ul#drop div {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

body header #menu li:nth-child(4):hover ~ #marker {
  -webkit-transform: translate(270px, 0);
  transform: translate(270px, 0);
}

body header > section.slider {
  height: 900px;
  background: url("img/mainpage/IMG_7241.png");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 60%;
}

body main {
  height: 5700px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(45%, white), color-stop(45%, black), color-stop(90%, black), color-stop(90%, white));
  background: linear-gradient(0deg, white 45%, black 45%, black 90%, white 90%);
}

body main section.section__first {
  max-width: 1240px;
  margin: 60px auto;
  height: 850px;
  background: url("img/mainpage/IMG_17001.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 79px 715px 500px 125px;
}

body main section.section__first:hover {
  -webkit-transform: scale(1.009);
          transform: scale(1.009);
  -webkit-box-shadow: 0 0px 30px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0px 30px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

body main section.section__first article.section__article {
  color: #fff;
}

body main section.section__first article.section__article h4 {
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
  width: 430px;
  height: 50px;
  margin-top: 20px;
}

body main section.section__first article.section__article > div {
  font-size: 16px;
}

body main section.section__first article.section__article > div:not(:nth-child(2)) {
  margin-top: 23px;
}

body main section.section__first article.section__article > div.section__article__pararaph {
  font-size: 14px;
  line-height: 19px;
}

body main section.section__text {
  max-width: 1400px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #fff;
}

body main section.section__text div {
  width: 350px;
  margin: 80px 0;
}

body main section.section__text div *:not(:nth-child(1)) {
  padding-top: 35px;
}

body main section.section__second {
  height: 750px;
  max-width: 1240px;
  background-color: #28454B;
  margin: 80px auto;
  padding: 40px 93px 60px 200px;
  color: #fff;
  text-align: right;
}

body main section.section__second .section__second__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main section.section__second .section__second__div div.section__second__div_first {
  margin-right: 50px;
}

body main section.section__second .section__second__div h4 {
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
  margin-top: 300px;
}

body main section.section__second .section__second__div div div {
  font-size: 16px;
}

body main section.section__second .section__second__div div div:not(:nth-child(2)) {
  margin-top: 23px;
}

body main section.section__second .section__second__div div div.section__article__pararaph {
  font-size: 14px;
  line-height: 19px;
}

body main section.section__third {
  max-width: 1400px;
  height: 820px;
  margin: 0 auto;
}

body main section.section__third div.section__third__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body main section.section__third div.section__third__container__second {
  color: #fff;
  margin-left: 50px;
  width: 400px;
}

body main section.section__third div.section__third__container__second div {
  font-size: 16px;
}

body main section.section__third div.section__third__container__second div:not(:nth-child(2)) {
  margin-top: 23px;
}

body main section.section__third div.section__third__container__second h4 {
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
  margin-top: 350px;
}

body main section.section__third div.section__third__container__second .section__article__pararaph {
  font-size: 14px;
}

body main section.section__fourth {
  max-width: 1240px;
  margin: 100px auto 50px;
  height: 780px;
  background: url("img/mainpage/IMG_0208.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 79px 715px 500px 125px;
}

body main section.section__fourth article.section__fourth__container {
  color: #fff;
  width: 500px;
}

body main section.section__fourth article.section__fourth__container div {
  font-size: 16px;
}

body main section.section__fourth article.section__fourth__container div:not(:nth-child(2)) {
  margin-top: 23px;
}

body main section.section__fourth article.section__fourth__container h4 {
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
}

body main section.section__fourth article.section__fourth__container .section__article__pararaph {
  font-size: 14px;
}

body main section.section__fifth h2 {
  font-family: Avenir;
  font-size: 60px;
  font-weight: 800px;
  text-align: center;
  display: block;
  margin-bottom: 50px;
}

body main section.section__fifth div.parent {
  max-width: 1350px;
  display: -ms-grid;
  display: grid;
  /* -ms-grid-columns: (450px)[3]; */
      grid-template-columns: repeat(3, 450px);
  /* -ms-grid-rows: (500px)[3]; */
      grid-template-rows: repeat(3, 500px);
  gap: 10px;
  border: 10px solid #fff;
}

body main section.section__fifth div.parent div.child img:hover {
  opacity: 0.5;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
}

body main section.section__fifth div.parent .child {
  background-color: black;
  z-index: 10;
}

body main section.section__fifth div.parent img {
  margin: 0 auto;
}

body footer {
  height: 350px;
  background-color: #fff;
  padding: 40px;
}

body footer .footer__parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer .footer__parent div {
  margin-top: 15px;
}

body footer .footer__parent .parent__child {
  text-transform: uppercase;
  font-size: 28px;
}

body footer .footer__parent .parent__child__2 {
  font-size: 18px;
  font-weight: 900;
}
