* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Avenir';
    scroll-behavior: smooth;
}

$font-stack: 'Josefin Sans';
$height: 100vh;
$min-height: 48rem;
$font-size: 1.5rem;
$font-size-header: 2.5rem;

@mixin block ($bg-color: #fff, $block-margin: 0 0, $block-height: 100vh){
    width: 100%;
    height: $block-height;
    background-color: $bg-color;
    padding: 5vw 8vw;
    margin: $block-margin;
}

@mixin header-3-1400 ($h3-size: 40px, $h3-color:#fff, $h3-align: left) {
    text-align: $h3-align;
    color: $h3-color;
    font-size: $h3-size;
    font-weight: 400;
    font-family: 'Avenir', sans-serif;
    text-transform: none;
    line-height: 47px;
    font-style: normal;
    margin: 1rem 0 2rem;
    // width: 50%;
}

@mixin header-5-1400 () {
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    font-family: $font-stack;
    text-transform: none;
    line-height: 24px;
    margin: 0.5rem 0;
    
}

@mixin paragraph ($p-size: 16px, $p-width: 100%, $p-align: left) {
    text-align: $p-align;
    color: #fff;
    font-size: $p-size;
    font-weight: 400;
    font-family: 'Avenir', sans-serif;
    text-transform: none;
    line-height: 20px;
    font-style: normal;
    width: $p-width;
}

@mixin img-grid {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}

@mixin footer {
    height: 100%;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// css navigation
header {
    div#header__block {
        background-color: #fff;
        height: 80px;
        width: 100%;
    }
    .navbar {
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #000;
    position: fixed;
    top: 0;
    z-index: 999;
    
    &__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 91;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 50px;
        
        >#navbar__logo {
            background-size: 100%;
            display: flex;
            align-items: center;
            text-decoration: none;
            font-size: 2rem;
            cursor: pointer;
            color: #000;
            font-family: 'Josefin Sans';
        }

        >.navbar__menu {
            display: flex;
            align-items: center;
            list-style: none;
            color: #000;
            
            >li.navbar__item {
                height: 80px;
                color: #000;

                >.navbar__links {
                    color: #000;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 125px;
                    text-decoration: none;
                    height: 100%;
                    transition: all 0.4s ease;

                    &:hover {
                        color: #838383;
                        transition: all 0.3s ease;
                    }
                }
            }
        }
    }
    }
}

@media only screen and (max-width: 1200px) {
    body {
        .sixth#sixth {
            @include block($block-height: 105vh);
        }
    }
}

@media only screen and (max-width: 980px) {
    .slider {
        display: none;
    }

    html {
      font-size: 15px;

      .third#third .third__content {
        // padding: 5%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-wrap: no-wrap;

        background-color: #28454B;

        .text {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .img {
            background-image: url('images/mainpage/2.jpg');
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
        }

        .fourth#fourth .fourth__content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            flex-wrap: no-wrap;

            background-color: #000000;

            .text {
                padding: 5% 0;
                width: 75%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }

            .fourth__img {
                background-image: url('images/mainpage/3.jpg');
                width: 100%;
                height: 100%;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

        
        .sixth#sixth {
                @include block($block-height: 80vh);
        }
        
    }

    nav.navbar div.navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;

    }

    .navbar__menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
        background-color: rgb(255, 255, 255);
        font-family: 'Avenir';
    }

    .navbar__menu.active {
        padding: 0;
        width: 100%;
        background: rgb(255, 255, 255);
        top: 100%;
        opacity: 1;
        transition: all 0.5s;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: rgb(0, 0, 0);
    }

    .navbar__item {
        width: 100%;
        text-align: center;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
        margin: 0 auto;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    #navbar__logo {
        padding:0 30px ;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
  
@media only screen and (max-width: 770px) {
    html {
        font-size: 15px;
  
        .third#third .third__content {
        //   padding: 5%;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          flex-wrap: no-wrap;
  
          background-color: #28454B;

          .text {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .img {
                margin-top: 5%;
                background-image: url('images/mainpage/2.jpg');
                width: 100%;
                height: 100%;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
}

@media only screen and (max-width: 450px){
    body {
        .sixth#sixth {
            @include block($block-height: 80vh);
            font-size: 0.6rem;
            h5 {
                font-size: 1rem;
            }
        }
    }
}

@media only screen and (max-width: 390px){
    body {

        .sixth#sixth {
            h2 {
                font-size: 2rem;
            }
            @include block($block-height: 55vh);
            font-size: 0.6rem;
            h5 {
                font-size: 1rem;
            }
        }
    }
}
html {
    width: 100%;

    header {
        width: 100%;
        overflow-x: hidden;
    }

    body {
    margin: 0;
    padding: 0;
    height: 120vh;
    
        main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // background: #fff;

            .first {
                @include block($block-margin: 0);

                .first__content {
                    padding: 10vw;
                    background-image: url('images/5.jpg');
                    width: 100%;
                    height: 100%;
                    background-position: bottom;
                    background-size: cover;
                    display: flex;
                    flex-direction: column;
                    transition: all 0.5s ease-in-out;
                    
                    &:hover {
                        transition: all 0.5s ease-in-out;
                        transform: scale(1.03);
                    }

                    span.arrow {
                        margin-top: 9%;
                    }

                    span {
                        display: block;
                        @include paragraph();
                    }

                    h3 {
                        @include header-3-1400();
                    }
                }
            }

            .third {
                @include block($bg-color: #000);
               

                .third__content {
                    padding: 5%;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;

                    background-color: #28454B;

                    .text {
                        width: 50%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    }
                    span {
                        display: block;
                        @include paragraph($p-align: right, $p-width: 100%);
                    }

                    h3 {
                        @include header-3-1400($h3-align: right);
                        
                    }
                    .img {
                        // margin-left: 10%;
                        background-image: url('images/mainpage/2.jpg');
                        width: 45%;
                        height: 100%;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;

                        transition: all 0.5s ease-in-out;
                    
                        &:hover {
                            transition: all 0.5s ease-in-out;
                            transform: scale(1.03);
                        }
                    }
                    
                }
            }

            .fourth {
                @include block($bg-color: #000, $block-margin: 0);

                .fourth__content {
                    padding: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgb(0, 0, 0);
                    display: flex;
                    justify-content: space-between;
                    align-content: center;

                    
                    .fourth__img {
                        width: 40%;
                        height: 100%;
                        background-image: url('images/mainpage/3.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;

                        transition: all 0.5s ease-in-out;
                    
                        &:hover {
                            transition: all 0.5s ease-in-out;
                            transform: scale(1.03);
                        }
                    }

                    .text {
                        width: 50%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;

                        span {
                            @include paragraph();
                        }

                        h3 {
                            @include header-3-1400();
                        }
                    }
                }
            }

            .fifth {
                @include block();

                .fifth__content {
                    padding: 10vw;
                    background-image: url('images/6.jpg');
                    width: 100%;
                    height: 100%;
                    background-position: bottom;
                    background-size: cover;
                    display: flex;
                    flex-direction: column;

                    transition: all 0.5s ease-in-out;
                    
                    &:hover {
                        transition: all 0.5s ease-in-out;
                        transform: scale(1.03);
                    }

                    span.arrow {
                        margin-top: 9%;
                    }

                    span {
                        display: block;
                        @include paragraph();
                    }

                    h3 {
                        @include header-3-1400();
                    }
                }
            }

            .sixth {
                @include block($block-height: 184vh);
                
                .sixth__content {
                    height: 100%;
                    width: 100%;
                }
                h2 {
                    font-family: Avenir;
                    font-size: 3rem;
                    font-weight: 800px;
                    text-align: center;
                    display: block;
                    margin-bottom: 50px;
                }

                div.parent {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    
                    
                    flex-direction: column;
                    justify-content: space-around;

                    >.child {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        flex-wrap: no-wrap;
                        margin: 0.5vh;

                        .img1 {
                            background-image: url('images/grid/1.jpg');
                            @include img-grid();
                            transition: all 0.4s ease-in-out;
                            
                            h5{
                                @include header-5-1400();
                            }

                            span{
                                text-align: center;
                            }

                            .child {
                                display: block;
                                opacity: 0;
                                transition: all 0.2s ease-in-out;
                                background-color: rgba(0, 0, 0, 0.411);
                            }

                            &:hover {
                                transform: scale(0.95);
                                transition: all 0.3s ease-in-out;
                                .child {
                                    opacity: 1;
                                    transition: all 0.2s ease-in-out;
                                }
                            }
                        }
                        .img2 {
                            background-image: url('images/grid/2.jpg');
                            @include img-grid();
                            

                        }      
                        .img3 {
                            background-image: url('images/grid/3.jpg');
                            @include img-grid();
                            transition: all 0.4s ease-in-out;
                            
                            h5{
                                @include header-5-1400();
                            }
                            
                            span{
                                text-align: center;
                            }

                            .child {
                                display: block;
                                opacity: 0;
                                transition: all 0.2s ease-in-out;
                                background-color: rgba(0, 0, 0, 0.411);
                            }

                            &:hover {
                                transform: scale(0.95);
                                transition: all 0.3s ease-in-out;
                                .child {
                                    opacity: 1;
                                    transition: all 0.2s ease-in-out;
                                }
                            }
                        }      
                        .img4 {
                            background-image: url('images/grid/4.jpg');
                            @include img-grid();
                        }
                        .img5 {
                            background-image: url('images/grid/5.jpg');
                            @include img-grid();
                            transition: all 0.4s ease-in-out;
                            
                            h5{
                                @include header-5-1400();
                            }
                            
                            span{
                                text-align: center;
                            }

                            .child {
                                display: block;
                                opacity: 0;
                                transition: all 0.2s ease-in-out;
                                background-color: rgba(0, 0, 0, 0.411);
                            }

                            &:hover {
                                transform: scale(0.95);
                                transition: all 0.3s ease-in-out;
                                .child {
                                    opacity: 1;
                                    transition: all 0.2s ease-in-out;
                                }
                            }
                        }
                        .img6 {
                            background-image: url('images/grid/6.jpg');
                            @include img-grid();
                        }
                        .img7 {
                            background-image: url('images/grid/7.jpeg');
                            @include img-grid();
                            transition: all 0.4s ease-in-out;
                            
                            h5{
                                @include header-5-1400();
                            }
                            
                            span{
                                text-align: center;
                            }

                            .child {
                                display: block;
                                opacity: 0;
                                transition: all 0.2s ease-in-out;
                                background-color: rgba(0, 0, 0, 0.411);
                            }

                            &:hover {
                                transform: scale(0.95);
                                transition: all 0.3s ease-in-out;
                                .child {
                                    opacity: 1;
                                    transition: all 0.2s ease-in-out;
                                }
                            }
                        }
                        .img8 {
                            background-image: url('images/grid/8.jpeg');
                            @include img-grid();
                        }
                        .img9 {
                            background-image: url('images/grid/9.jpeg');
                            @include img-grid();
                            transition: all 0.4s ease-in-out;
                            
                            h5{
                                @include header-5-1400();
                            }
                            
                            span{
                                text-align: center;
                            }

                            .child {
                                display: block;
                                opacity: 0;
                                transition: all 0.2s ease-in-out;
                                background-color: rgba(0, 0, 0, 0.411);
                            }

                            &:hover {
                                transform: scale(0.95);
                                transition: all 0.3s ease-in-out;
                                .child {
                                    opacity: 1;
                                    transition: all 0.2s ease-in-out;
                                }
                            }
                        }
                    }
                            
                }
            }
        }

        footer {
            @include block($block-height: 60vh);
            
            .footer {
                @include footer();
                
                span {
                    text-align: center;
                }
            }
        }
    }
}


//css carousel
.slider {
    margin: 0 auto;
    width: 1000px;
    height: 700px;
    border-radius: 10px;
    overflow: hidden;
}
.slides {
    width: 500%;
    height: 500px ;
    display: flex;
}
.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition:2s ;
}

.slide img {
    background-size: contain;
    // background-position: ;
    // width: 1200px;
    // height: 700px;
}

// css for manual slide navigation
.navigation-manual{
    position: absolute;
    width: 1000px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #fff;
}

#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -20%;
}
#radio3:checked ~ .first {
    margin-left: -40%;
}
#radio4:checked ~ .first {
    margin-left: -60%;
}

// css for automatic navigation

.navigation-auto {
    position: absolute;
    display: flex;
    width: 1000px;
    justify-content: center;
    margin-top: 600px;

}

.navigation-auto div {
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #fff;
} 


