* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Avenir';
  scroll-behavior: smooth;
}

@media only screen and (max-width: 770px) {
  html {
    font-size: 1rem;
  }
  html section.one#one {
    padding: 0 2vh;
  }
  html section.one#one div.wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #ffaaaa;
  }
  html section.one#one div.wrapper div.img__wrapper {
    width: 100%;
  }
  html section.one#one div.wrapper div.text {
    width: 50%;
    height: 20%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  html section.one#one div.wrapper div.text h3 {
    color: #c25555;
    font-weight: 700;
  }
  html main section.two#two {
    padding: 0 2vh;
  }
  html section.two#two > div.wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #F4F0C3;
  }
  html section.two#two > div.wrapper div.img__wrapper {
    width: 100%;
  }
  html section.two#two > div.wrapper div.text {
    width: 100%;
    height: 30%;
  }
  html section.two#two > div.wrapper div.text h3 {
    color: #6b8880;
    font-weight: 700;
  }
  html main section.three#three {
    padding: 0 2vh;
  }
  html section.three#three > div.wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #A3767C;
  }
  html section.three#three > div.wrapper div.img__wrapper {
    width: 100%;
  }
  html section.three#three > div.wrapper div.text {
    width: 100%;
    height: 30%;
  }
  html section.three#three > div.wrapper div.text h3 {
    color: #47181e;
    font-weight: 700;
  }
  html main section.fourth#fourth {
    padding: 0 2vh;
  }
  html section.fourth#fourth > div.wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #B4C084;
  }
  html section.fourth#fourth > div.wrapper div.img__wrapper {
    width: 100%;
  }
  html section.fourth#fourth > div.wrapper div.text {
    width: 100%;
    height: 30%;
  }
  html section.fourth#fourth > div.wrapper div.text h3 {
    color: #645E3C;
    font-weight: 700;
  }
  html main section.fifth#fifth {
    padding: 0 2vh;
  }
  html section.fifth#fifth > div.wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #5974A9;
  }
  html section.fifth#fifth > div.wrapper div.img__wrapper {
    width: 100%;
  }
  html section.fifth#fifth > div.wrapper div.text {
    width: 100%;
    height: 30%;
  }
  html section.fifth#fifth > div.wrapper div.text h3 {
    color: #042C8B;
    font-weight: 700;
  }
}

header div#header__block {
  background-color: #fff;
  height: 80px;
  width: 100%;
}

header .navbar {
  width: 100%;
  background-color: white;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  color: #000;
  position: fixed;
  top: 0;
  z-index: 999;
}

header .navbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  z-index: 91;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

header .navbar__container > #navbar__logo {
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 2rem;
  cursor: pointer;
  color: #000;
  font-family: 'Josefin Sans';
}

header .navbar__container > .navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  color: #000;
}

header .navbar__container > .navbar__menu > li.navbar__item {
  height: 80px;
  color: #000;
}

header .navbar__container > .navbar__menu > li.navbar__item > .navbar__links {
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

header .navbar__container > .navbar__menu > li.navbar__item > .navbar__links:hover {
  color: #838383;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main .one {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  padding: 0 8vw;
  margin: 0 0;
}

main .one .wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .one .wrapper:hover .img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
}

main .one .wrapper .img__wrapper {
  width: 50%;
  height: 100%;
  background-color: #ffaaaa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .one .wrapper .img__wrapper .img {
  width: 50%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

main .one .wrapper .text {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .one .wrapper .text h3 {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 54px;
  letter-spacing: 0.1em;
  color: #FF8D8D;
}

main .two {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  padding: 0 8vw;
  margin: 0 0;
}

main .two .wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .two .wrapper:hover .img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
}

main .two .wrapper .text {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .two .wrapper .text h3 {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 54px;
  letter-spacing: 0.1em;
  color: #F4F0C3;
}

main .two .wrapper .img__wrapper {
  width: 50%;
  height: 100%;
  background-color: #F4F0C3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .two .wrapper .img__wrapper .img {
  width: 50%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

main .two .wrapper .img__wrapper .img:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
}

main .three {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  padding: 0 8vw;
  margin: 0 0;
}

main .three .wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .three .wrapper:hover .img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
}

main .three .wrapper .img__wrapper {
  width: 50%;
  height: 100%;
  background-color: #A3767C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .three .wrapper .img__wrapper .img {
  width: 50%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

main .three .wrapper .text {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .three .wrapper .text h3 {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 54px;
  letter-spacing: 0.1em;
  color: #A3767C;
}

main .fourth {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  padding: 0 8vw;
  margin: 0 0;
}

main .fourth .wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .fourth .wrapper:hover .img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
}

main .fourth .wrapper .text {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .fourth .wrapper .text h3 {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 54px;
  letter-spacing: 0.1em;
  color: #645E3C;
}

main .fourth .wrapper .img__wrapper {
  width: 50%;
  height: 100%;
  background-color: #B4C084;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .fourth .wrapper .img__wrapper .img {
  width: 50%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

main .fourth .wrapper .img__wrapper .img:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
}

main .fifth {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  padding: 0 8vw;
  margin: 0 0;
}

main .fifth .wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .fifth .wrapper:hover .img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
}

main .fifth .wrapper .img__wrapper {
  width: 50%;
  height: 100%;
  background-color: #5974A9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .fifth .wrapper .img__wrapper .img {
  width: 50%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

main .fifth .wrapper .text {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .fifth .wrapper .text h3 {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 54px;
  letter-spacing: 0.1em;
  color: #042C8B;
}

@media only screen and (max-width: 980px) {
  html {
    font-size: 15px;
  }
  nav.navbar div.navbar__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: -1;
    background-color: white;
    font-family: 'Avenir';
  }
  .navbar__menu.active {
    padding: 0;
    width: 100%;
    background: white;
    top: 100%;
    opacity: 1;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }
  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
  }
  .navbar__item {
    width: 100%;
    text-align: center;
  }
  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    margin: 0 auto;
  }
  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    -webkit-transform: translate(5%, 20%);
            transform: translate(5%, 20%);
  }
  #navbar__logo {
    padding: 0 30px;
  }
  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}
