@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Avenir';
}

html, body {
  position: relative;
  height: 100%;
}

html > header,
html > main,
html > footer, body > header,
body > main,
body > footer {
  max-width: 100%;
  margin: 0 auto;
}

html header, body header {
  max-width: 1240px;
  margin: 0 auto;
}

html header nav#nav, body header nav#nav {
  margin: 0;
  padding: 30px 0;
  height: 80px;
  text-transform: uppercase;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html header nav#nav li, body header nav#nav li {
  margin: 0;
}

html header nav#nav > div:first-child, body header nav#nav > div:first-child {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 21px;
  font-weight: 500;
}

html header nav#nav #menu, body header nav#nav #menu {
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 13px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  list-style: none;
}

html header nav#nav #menu > li, body header nav#nav #menu > li {
  margin: 0;
  padding: 0 10px 10px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  z-index: 5;
  width: 90px;
}

html header nav#nav #menu > li a, body header nav#nav #menu > li a {
  color: #000;
  text-decoration: none;
}

html header nav#nav #menu > li:nth-child(3):hover #drop div, body header nav#nav #menu > li:nth-child(3):hover #drop div {
  display: block;
  background-color: rgba(255, 255, 255, 0.199);
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

html header nav#nav #menu > li:nth-child(3):hover #drop div li, body header nav#nav #menu > li:nth-child(3):hover #drop div li {
  padding: 6px 0;
  font-size: 13px;
  text-transform: none;
}

html header nav#nav #menu > li:nth-child(3):hover #drop div li a, body header nav#nav #menu > li:nth-child(3):hover #drop div li a {
  text-decoration: none;
  color: black;
}

html header nav#nav #menu > li > ul#drop, body header nav#nav #menu > li > ul#drop {
  overflow: hidden;
  list-style: none;
  position: absolute;
  padding: 0;
  width: 100%;
  left: 0;
  top: 30px;
}

html header nav#nav #menu > li > ul#drop div, body header nav#nav #menu > li > ul#drop div {
  display: none;
  padding: 0;
  -webkit-transform: translate(0, -150px);
          transform: translate(0, -150px);
  -webkit-transform: transition(all 0.5s 0.5s);
          transform: transition(all 0.5s 0.5s);
  position: relative;
}

html header nav#nav #menu > li > ul#drop div li:hover, body header nav#nav #menu > li > ul#drop div li:hover {
  background-color: rgba(255, 255, 255, 0.37);
}

html header nav#nav #menu #marker, body header nav#nav #menu #marker {
  padding: 0;
  height: 5px;
  background: #b6b6b6;
  position: absolute;
  bottom: 0;
  z-index: 2;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  width: 90px;
}

html header #menu li:nth-child(1):hover ~ #marker, body header #menu li:nth-child(1):hover ~ #marker {
  -webkit-transform: translate(0px, 0);
  transform: translate(0px, 0);
}

html header #menu li:nth-child(2):hover ~ #marker, body header #menu li:nth-child(2):hover ~ #marker {
  -webkit-transform: translate(90px, 0);
  transform: translate(90px, 0);
}

html header #menu li:nth-child(3):hover ~ #marker, body header #menu li:nth-child(3):hover ~ #marker {
  -webkit-transform: translate(180px, 0);
  transform: translate(180px, 0);
}

html header #menu li:nth-child(4):hover ~ #marker, body header #menu li:nth-child(4):hover ~ #marker {
  -webkit-transform: translate(270px, 0);
  transform: translate(270px, 0);
}

html h2, body h2 {
  display: block;
  font-family: 'Avenir';
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 500;
  margin: 50px 700px;
}

html main section.container, body main section.container {
  height: 800px;
}

html main section.container div.container__div, body main section.container div.container__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 800px;
}

html main section.container div.container__div div.one, body main section.container div.container__div div.one {
  background-color: #FDF1EE;
  width: 50%;
  height: 800px;
  position: relative;
}

html main section.container div.container__div div.one > div.first, body main section.container div.container__div div.one > div.first {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

html main section.container div.container__div div.one > div.first img, body main section.container div.container__div div.one > div.first img {
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

html main section.container div.container__div div.one > div.first img:hover, body main section.container div.container__div div.one > div.first img:hover {
  -webkit-transform: scale(1.007);
          transform: scale(1.007);
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  -webkit-box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
}

html main section.container div.container__div div.two, body main section.container div.container__div div.two {
  width: 50%;
  height: 800px;
  position: relative;
}

html main section.container div.container__div div.two div.container__second, body main section.container div.container__div div.two div.container__second {
  top: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

html main section.container div.container__div div.two div.container__second h3 a, body main section.container div.container__div div.two div.container__second h3 a {
  display: block;
  font-weight: 300;
  font-size: 40px;
  text-transform: uppercase;
  color: #FF8D8D;
  text-decoration: none;
  letter-spacing: 0.07em;
}

html main section.container div.container__div div.two div.container__second h3 a:nth-child(2), body main section.container div.container__div div.two div.container__second h3 a:nth-child(2) {
  font-size: 20px;
  font-weight: 300;
  text-transform: none;
  line-height: 30px;
}

html main section.container div.container__div div.two div.container__second h3 a:hover, body main section.container div.container__div div.two div.container__second h3 a:hover {
  cursor: pointer;
}

html main section.container__second, body main section.container__second {
  height: 800px;
}

html main section.container__second > div.container__div, body main section.container__second > div.container__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 800px;
}

html main section.container__second > div.container__div > div.two, body main section.container__second > div.container__div > div.two {
  width: 50%;
  height: 800px;
  position: relative;
}

html main section.container__second > div.container__div > div.two div.container__second, body main section.container__second > div.container__div > div.two div.container__second {
  top: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

html main section.container__second > div.container__div > div.two div.container__second h3 a, body main section.container__second > div.container__div > div.two div.container__second h3 a {
  display: block;
  font-weight: 300;
  font-size: 40px;
  text-transform: uppercase;
  color: #87923B;
  text-decoration: none;
  line-height: 55px;
  letter-spacing: 0.07em;
}

html main section.container__second > div.container__div > div.two div.container__second h3 a:nth-child(2), body main section.container__second > div.container__div > div.two div.container__second h3 a:nth-child(2) {
  font-size: 20px;
  font-weight: 300;
  text-transform: none;
  line-height: 30px;
}

html main section.container__second > div.container__div > div.two div.container__second h3 a:hover, body main section.container__second > div.container__div > div.two div.container__second h3 a:hover {
  cursor: pointer;
}

html main section.container__second > div.container__div div.one, body main section.container__second > div.container__div div.one {
  width: 50%;
  position: relative;
  background-color: #F4F0C3;
}

html main section.container__second > div.container__div div.one > div.first, body main section.container__second > div.container__div div.one > div.first {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

html main section.container__second > div.container__div div.one > div.first img, body main section.container__second > div.container__div div.one > div.first img {
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

html main section.container__second > div.container__div div.one > div.first img:hover, body main section.container__second > div.container__div div.one > div.first img:hover {
  -webkit-transform: scale(1.007);
          transform: scale(1.007);
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  -webkit-box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
}

html main section.container #third > div.container__div div.one, body main section.container #third > div.container__div div.one {
  background-color: #A3767C;
}

html main section.container #third > div.container__div > div.two div.container__second h3 a, body main section.container #third > div.container__div > div.two div.container__second h3 a {
  color: #551515;
}
